@import url("https://use.typekit.net/jma0tyq.css");
@import url('https://fonts.googleapis.com/css2?family=Sora:wght@300;400;500;600;700;800&display=swap');

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container__main {background: radial-gradient(50% 50% at 50% 50%, #7601F4 0%, #10005C 100%);
}

.container__first {
    width: 100%;
    min-height: 100vh;
    // background-image: url(../../assets/Screen3/background1.svg) !important;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: linear-gradient(to top, #10005C 0%, rgba(169, 59, 255, 0) 80%), url(../../assets/Screen3/background1.svg);
    // opacity: 0.8;
}
.image_pos{
    display: flex;
    flex-direction: column;
}
.container__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);

    h2 {
        font-family: 'Acumin Pro Condensed';
        font-style: normal;
        font-weight: 700;
        font-size: 128px;
        line-height: 154px;
        color: #EBF243;
        letter-spacing: -6px;
    }

    .claim__now {
        width: 10rem;
        height: 3.5rem;
        background: #A93BFF;
        border: none;
        border-radius: 18px;
        font-family: 'Sora', sans-serif;
        font-weight: 700;
        color: #FFFFFF;
    }
}

.container__second {
    width: 100%;
    min-height: 100vh;
    background: url(../../assets/Screen3/bgcontainer2.svg), url(../../assets/Screen3/fury_design.svg) no-repeat center;
    background-size: cover;
    background-color: #120061;
    display: flex;
    // flex-direction: row;
    // opacity: .2;

    .first__box,
    .second__box {
        display: flex;
        flex-direction: column;
        margin: 13%;
        width: 20rem;
        height: 29rem;
        background: #10005C;
        box-shadow: 0px 4px 50px rgba(169, 59, 255, 0.8);
        border-radius: 12px;

        img {
            width: 22rem;
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
            top: -18px;
            left: -20px;
        }

        h5 {
            font-family: 'Acumin Pro Condensed';
            font-weight: 700;
            font-size: 40px;
            line-height: 70%;
            text-align: center;
            color: #EBF243;
            letter-spacing: -3px;
        }

        p {
            width: 83px;
            height: 36px;
            font-family: 'Sora';
            font-style: normal;
            font-weight: 400;
            font-size: 30px;
            line-height: 120%;
            text-align: center;
            color: #FFFFFF;
            margin: auto;
        }
    }

    .boxes {
        display: flex;
        flex-direction: row !important;
        align-items: center !important;
        justify-content: center;
        margin: auto;
        // flex-wrap: wrap;
    }
}
.container__third {
    width: 100%;
    min-height: 120.5vh;
    background: url(../../assets/Screen3/bg_third.svg);

    .content__text {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 36px;
        margin-top: 5rem;
        position: absolute;
        width: 488px;
        height: 581px;
        left: 186px;
    }

    .readMore {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 12px 24px;
        gap: 10px;
        position: relative;
        width: 196px;
        height: 48px;
        background: #A93BFF;
        border: none;
        border-radius: 18px;
        font-family: 'Sora';
        font-style: normal;
        font-weight: 700;
        font-size: 13px;
        letter-spacing: 0.1em;
        color: #FFFFFF;
    }

    h3 {
        font-family: 'Acumin Pro Condensed';
        font-style: normal;
        font-weight: 700;
        font-size: 40px;
        letter-spacing: -2px;
        color: #EBF243;
        margin-top: 52px;
    }

    p {
        font-family: 'Sora';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 152%;
        letter-spacing: -0.02em;
        color: #F2F2F2;
        margin-right: 28px;
    }

    img {
        position: relative;
        width: 526px;
        height: 292px;
        left: 730px;
        margin-top: 14rem;
        // top: 1892px;
        filter: drop-shadow(0px 4px 50px rgba(169, 59, 255, 0.8));
    }
}
.container__forth{
    width: 100%;
    min-height: 100vh;
    background: url(../../assets/Screen3/bg__forth.svg) center no-repeat;
    position: relative;
    top: -15.6222rem;
    margin-bottom: 14rem;

}
.content__forth{
    display: flex;
    flex-direction: row;
    // margin-top: 32px;
    top: 13.3rem;
    position: absolute;

    .content__text{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 36px;
        margin-right: 12rem;
        // position: relative;
        // top: 7rem;
        // width: 488px;
        height: 581px;

        h3{
            font-family: 'Acumin Pro Condensed';
        font-style: normal;
        font-weight: 700;
        font-size: 40px;
        letter-spacing: -2px;
        color: #EBF243;
        text-transform: uppercase;
        }

        p{
            font-family: 'Sora';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 152%;
letter-spacing: -0.02em;
color: #F2F2F2;
        }
    }
    img{
        width: 43rem;
    }
}

@media screen and (max-width:1180px){
    .container__third 
        img{
            left: 653px !important;
        }
    .content__forth .content__text{
            margin-right: 2rem;
    }
    
}
@media screen and (max-width:1020px){
  .content__forth img{
    margin-right: -15rem !important;
    position: relative !important;
    left: -6rem !important;
  }
  .content__forth .content__text {
    margin-top: 6rem !important;
}
.container__third .content__text{
    left: 5rem !important;
}
.container__main .image_pos{
    display: none;
}
}
@media screen and (max-width:910px){
    .social__content{
        margin: 5rem !important;
    }
    .content__forth{
        display: flex;
        flex-direction: column !important;
    }
    .content__forth .content__text {
        margin-top: 0rem !important;
        margin-left: 2rem;
}
.content__forth img {
    width: 27rem;
    position: relative !important;
}
.container__third p{
    width: 20rem !important;
}.container__content h2 {
        font-size: 73px !important;
    line-height: 95px !important;
    }
}
@media screen and (max-width:760px){
    .footer__main img{
        display: none;
    }
    .container__second .boxes{
        flex-wrap: wrap !important;
    }
}
@media screen and (max-width:526px){
    .container__third .content__text{
        width: 0px !important;
    }
    .footer__main .social__content{
        flex-wrap: wrap !important;
    }
    .social__content{
        margin: auto !important;
    }
    .content__forth .content__text {
        margin-right: auto !important;
    }
}
@media screen and (max-width:480px){
    .community__content ul{
        margin-right: 30px !important;
    }
}