.footer__main {
    width: 100%;
    height: 50vh;
    background: #0B013F;
    display: flex;
    flex-direction: row;
    margin-top: -15.5rem;
    bottom: -37px;

    img{
        width: 12rem;
        margin: 0px 83px 147px 0px
    }
}

.social__content {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr minmax(0, 250px) 3fr;
    padding: 88px;

    .link__content ul h5,
    .support__content ul h5,
    .community__content ul h5 {
        width: 54px;
        height: 27px;
        font-family: 'Sora';
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        line-height: 135%;
        color: #FFFFFF;
    }
p{
    width: 17rem;
    margin-left: 24px;
    font-family: 'Sora';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    color: #828282;
}
    .link__content ul li,
    .support__content ul li,
    .community__content ul li {
        width: 93px;
        list-style: none;
        font-family: 'Sora';
        font-style: normal;
        font-weight: 400;
        font-size: 15px;
        line-height: 1.8rem;
        color: #828282;
    }
}